!!!5

html
  head
    title Hello
    link(href="style.css",type="text/css",rel="stylesheet")
  body
    h1 World!

    ul
      li List some items
      li More in this List
      li yet even more

      li :-)

    script(src="basic.js")
